{% extends 'loggedin_base.html' %}

{% block loggedin_content %}


<div class="row">
    <div class="col-10 mx-auto py-5">
        <div class="row h5 text-secondary border-bottom border-2 border-secondary px-1">
            <p><i class="bi bi-file-person"></i> Personal Details</p>
        </div>
        <div class="row ">
            <form class=" row g3">
                <div class="col-md-6 py-2">
                    <label for="inputEmail4" class="form-label">First Name:</label>
                    <input class="form-control"  disabled placeholder="{{fname}}">
                </div>
                <div class="col-md-6 py-2">
                    <label for="inputPassword4" class="form-label">Last Name:</label>
                    <input class="form-control" disabled placeholder="{{lname}}">
                </div>
                <div class="col-12 pb-2">
                    <label for="inputAddress" class="form-label">Email:</label>
                    <input type="text" class="form-control" disabled placeholder="{{email}}">
                </div>

                <div class="col-md-6 pb-2">
                    <label for="inputEmail4" class="form-label">Father's/Gaurdian's Name:</label>
                    <input class="form-control" disabled placeholder="{{fathername}}">
                </div>

                <div class="col-md-6 pb-2">
                    <label for="inputPassword4" class="form-label">Mother's/Gaurdian's name:</label>
                    <input class="form-control" disabled placeholder="{{mothername}}">
                </div>
                <div class="col-12 pb-2">
                    <label for="inputAddress2" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="inputAddress2" disabled
                        placeholder="{{address}}">
                </div>
                <div class="col-md-6 pb-2">
                    <label for="inputEmail4" class="form-label">Student's Phone:</label>
                    <input class="form-control" disabled placeholder="{{studentphone}}">
                </div>
                <div class="col-md-6 pb-2">
                    <label for="inputPassword4" class="form-label">Parent's/Guardian's Phone:</label>
                    <input class="form-control" disabled placeholder="{{parentphone}}">
                </div>

                <div class="col-md-3 pb-2">
                    <label for="inputPassword4" class="form-label">Blood Group:</label>
                    <input class="form-control" disabled placeholder="{{bloodgroup}}">
                </div>

                <div class="col-md-3 pb-2">
                    <label for="inputPassword4" class="form-label">Gender:</label>
                    <input class="form-control" disabled placeholder="{{gender}}">
                </div>

                <div class="col-md-3 pb-2">
                    <label for="inputPassword4" class="form-label">Conveyance:</label>
                    <input class="form-control" disabled placeholder="{{conveyance}}">
                </div>

                <div class="col-md-3 pb-2">
                    <label for="inputPassword4" class="form-label">DOB</label>
                    <input class="form-control" disabled placeholder="{{dob}}">
                </div>






            </form>


        </div>
        <div class="h5 row mt-5 text-secondary border-bottom border-2 border-secondary px-1">
            <p><i class="bi bi-journal-text"></i> Academic Details</p>
        </div>
        <div class="row">
            <form class=" row g3">
                <div class="col-md-3 py-2">
                    <label for="inputEmail4" class="form-label">Class:</label>
                    <input class="form-control" disabled placeholder="{{clas}}">
                </div>
                <div class="col-md-3 py-2">
                    <label for="inputPassword4" class="form-label">Section:</label>
                    <input class="form-control" disabled placeholder="{{section}}">
                </div>

                <div class="col-md-6 py-2">
                    <label for="inputPassword4" class="form-label">Class Teacher:</label>
                    <input class="form-control" disabled placeholder="{{classteacher}}">
                </div>


                <div class="col-md-3 pb-2">
                    <label for="inputAddress" class="form-label">Class Roll Number:</label>
                    <input type="text" class="form-control" disabled placeholder="{{classrollnumber}}">
                </div>

                <div class="col-md-6 pb-2">
                    <label for="inputEmail4" class="form-label">Admission Number:</label>
                    <input class="form-control" disabled placeholder="{{admno}}">
                </div>

                <div class="col-md-3 pb-2">
                    <label for="inputAddress" class="form-label">Date Of Admission:</label>
                    <input type="text" class="form-control" disabled placeholder="{{DOA}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 1:</label>
                    <input class="form-control" disabled placeholder="{{sub1}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 2:</label>
                    <input class="form-control" disabled placeholder="{{sub2}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 3:</label>
                    <input class="form-control" disabled placeholder="{{sub3}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 4:</label>
                    <input class="form-control" disabled placeholder="{{sub4}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 5:</label>
                    <input class="form-control" disabled placeholder="{{sub5}}">
                </div>

                <div class="col-md-4 pb-2">
                    <label for="inputPassword4" class="form-label">Subject 6:</label>
                    <input class="form-control" disabled placeholder="{{sub6}}">
                </div>






            </form>

        </div>


        <div class="h5 row mt-5 text-secondary border-bottom border-2 border-secondary px-1">
            <p><i class="bi bi-wallet2"></i> Fee Details</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col mx-auto">
        
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col-2">S No.</th>
                                <th scope="col-4">Month</th>
                                <th scope="col-2">Ammount</th>
                                <th scope="col-2">Date of Deposition  </th>
                                <th scope="col-2">Receit number  </th>
                              </tr>
                            </thead>
                            <tbody>

                              {{html|safe}}
                            
                            </tbody>
                          </table>
                    </div> 
                 </div>   
            </div>     
        </div>

    </div>

</div>






{% endblock %}